* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
}

.item {
    background-color: #30557d;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    flex: 0 0 calc(25% - 20px);
}

.item.wide {
    flex: 0 0 calc(50% - 30px);
}