* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.total {
    width: 50%;
    height: 500px;
    margin: 50px;
}

.line1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.line2 {
    display: flex;
    justify-content: space-between;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: aliceblue;
    border: 1px solid blue;
    border-radius: 5px;
    width: 100px;
    height: 50px;
}